#board {
    padding: 3em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row {
    margin: auto;
    width: 302px;
    
}

.top {
    border-bottom: 1px solid black;
    
}

.left {
    border-right: 1px solid black;
}

.bottom {
    border-top: 1px solid black;
}

.right {
    border-left: 1px solid black
}

.winningMessage {

    border: 2em solid rgb(rgba(53, 41, 167, 0.322));
    border-radius: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: rgb(16, 88, 88);
    background-color: aqua;
    margin-top: 10em;
    
    text-align: center;
}

body {
    background-color: rgb(2, 26, 26);
}
